<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav" style="display: flex;">
      <li class="nav-item">
        <a routerLink="class/schedule" class="nav-link" routerLinkActive="active">
          Schedule Class
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="class/next" class="nav-link" routerLinkActive="active">
          Upcoming
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="class/previous" class="nav-link" routerLinkActive="active">
          Previous
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
